{{- $vals := .Values.secrets.minio -}}
{{- if not $vals.existingSecret }}

{{- $secretName := include "atlas-cmms.fullname-minio" . -}}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName }}

{{- $items := dict
  "MINIO_ACCESS_KEY" (dict
    "value"   $vals.root.accessKey
    "default" (randAlphaNum 32)
  )
  "MINIO_SECRET_KEY" (dict
    "value"   $vals.root.secretKey
    "default" (randAlphaNum 32)
  )
-}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- with $vals.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  {{ range $key, $cfg := $items }}
  
    {{- $existing := "" -}}
    {{- with $secret }}
      {{- $existing = (index .data $key | b64dec) | default "" -}}
    {{- end }}

    {{- $fallback := default $cfg.default $cfg.value -}}
    {{- $final := default $fallback $existing -}}
    {{ $key }}: {{ $final | quote }}
  {{ end }}
{{- end }}