{{- if not .Values.secrets.minio.existingSecret }}
{{- $secretName := include "atlas-cmms.fullname-minio" . }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- with .Values.secrets.minio.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  MINIO_ACCESS_KEY: {{ if $secret }}{{ index $secret.data "MINIO_ACCESS_KEY" | default (.Values.secrets.minio.root.accessKey | default (randAlphaNum 32) | b64enc) }}{{ else }}{{ .Values.secrets.minio.root.accessKey | default (randAlphaNum 32) | b64enc }}{{ end }}
  MINIO_SECRET_KEY: {{ if $secret }}{{ index $secret.data "MINIO_SECRET_KEY" | default (.Values.secrets.minio.root.secretKey | default (randAlphaNum 32) | b64enc) }}{{ else }}{{ .Values.secrets.minio.root.secretKey | default (randAlphaNum 32) | b64enc }}{{ end }}
{{- end }}