{{- if not .Values.secrets.postgres.existingSecret }}
{{- $secretName := include "atlas-cmms.fullname-postgres" . }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  username: {{ 
    if $existingSecret 
      }}{{ index $existingSecret.data "username" | default .Values.secrets.postgres.auth.username | b64enc }}{{ 
    else 
      }}{{ .Values.secrets.postgres.auth.username | b64enc }}{{ 
    end 
  }}
  password: {{
    if $existingSecret
      }}{{ index $existingSecret.data "password" | default ( .Values.secrets.postgres.auth.password | default (randBytes 32) ) | b64enc }}{{
    else
      }}{{ ( .Values.secrets.postgres.auth.password | default (randBytes 32) ) | b64enc }}{{
    end
  }}
{{- end }}