{{- if not .Values.secrets.postgres.existingSecret }}
{{- $secretName := include "atlas-cmms.fullname-postgres" . }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- with .Values.secrets.postgres.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: kubernetes.io/basic-auth
data:
  username: {{
    if $existingSecret
      }}{{ index $existingSecret.data "username" }}{{
    else
      }}{{ .Values.secrets.postgres.auth.username | b64enc }}{{
    end
  }}
  password: {{
    if $existingSecret
      }}{{ index $existingSecret.data "password" }}{{
    else
      }}{{ ( .Values.secrets.postgres.auth.password | default (randBytes 32) ) | b64enc }}{{
    end
  }}
{{- end }}