apiVersion: v1
kind: Secret
metadata:
  name: {{ include "recaptcha-v3-verifier.fullname" . }}-secret
  labels:
    app.kubernetes.io/name: {{ include "recaptcha-v3-verifier.fullname" . }}
type: Opaque
data:
  {{- with .Values.secrets.recaptcha.RECAPTCHA_SECRET_KEY }}
  RECAPTCHA_SECRET_KEY : {{ . | b64enc | quote }}
  {{- end }}