{{- if not .Values.secrets.backend.existingSecret }}
{{- $secretName := include "atlas-cmms.fullname-backend" . -}}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- with .Values.secrets.backend.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  JWT_SECRET_KEY: {{
    if $secret
    }}{{ index $secret.data "JWT_SECRET_KEY" | default (
          .Values.secrets.backend.jwt.secretKey | default (randBytes 32 | b64enc)
    ) }}{{
    else
    }}{{ .Values.secrets.backend.jwt.secretKey | default (randBytes 32 | b64enc) }}{{
    end
  }}

  SMTP_USER: {{
    if $secret
    }}{{ index $secret.data "SMTP_USER" | default (.Values.secrets.backend.smtp.username | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.smtp.username | b64enc }}{{
    end
  }}

  SMTP_PWD: {{
    if $secret
    }}{{ index $secret.data "SMTP_PWD" | default (.Values.secrets.backend.smtp.password | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.smtp.password | b64enc }}{{
    end
  }}

  FASTSPRING_USER: {{
    if $secret
    }}{{ index $secret.data "FASTSPRING_USER" | default (.Values.secrets.backend.fastspring.username | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.fastspring.username | b64enc }}{{
    end
  }}

  FASTSPRING_PWD: {{
    if $secret
    }}{{ index $secret.data "FASTSPRING_PWD" | default (.Values.secrets.backend.fastspring.password | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.fastspring.password | b64enc }}{{
    end
  }}

  OAUTH2_CLIENT_ID: {{
    if $secret
    }}{{ index $secret.data "OAUTH2_CLIENT_ID" | default (.Values.secrets.backend.oauth2.clientId | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.oauth2.clientId | b64enc }}{{
    end
  }}

  OAUTH2_CLIENT_SECRET: {{
    if $secret
    }}{{ index $secret.data "OAUTH2_CLIENT_SECRET" | default (.Values.secrets.backend.oauth2.clientSecret | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.oauth2.clientSecret | b64enc }}{{
    end
  }}

  PADDLE_API_KEY: {{
    if $secret
    }}{{ index $secret.data "PADDLE_API_KEY" | default (.Values.secrets.backend.paddle.apiKey | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.paddle.apiKey | b64enc }}{{
    end
  }}

  PADDLE_WEBHOOK_SECRET_KEY: {{
    if $secret
    }}{{ index $secret.data "PADDLE_WEBHOOK_SECRET_KEY" | default (.Values.secrets.backend.paddle.webhookSecretKey | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.paddle.webhookSecretKey | b64enc }}{{
    end
  }}

  KEYGEN_PRODUCT_TOKEN: {{
    if $secret
    }}{{ index $secret.data "KEYGEN_PRODUCT_TOKEN" | default (.Values.secrets.backend.keygen.productToken | b64enc) }}{{
    else
    }}{{ .Values.secrets.backend.keygen.productToken | b64enc }}{{
    end
  }}
{{- end }}