{{- $vals := .Values.secrets.backend -}}
{{- if not $vals.existingSecret }}

{{- $secretName := include "atlas-cmms.fullname-backend" . -}}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName }}

{{- $items := dict
  "JWT_SECRET_KEY" (dict
    "value"   $vals.jwt.secretKey
    "default" (randAlphaNum 32)
  )
  "SMTP_USER" (dict
    "value"   $vals.smtp.username
    "default" "-"
  )
  "SMTP_PWD" (dict
    "value"   $vals.smtp.password
    "default" "-"
  )
  "FASTSPRING_USER" (dict
    "value"   $vals.fastspring.username
    "default" "-"
  )
  "FASTSPRING_PWD" (dict
    "value"   $vals.fastspring.password
    "default" "-"
  )
  "OAUTH2_CLIENT_ID" (dict
    "value"   $vals.oauth2.clientId
    "default" "-"
  )
  "OAUTH2_CLIENT_SECRET" (dict
    "value"   $vals.oauth2.clientSecret
    "default" "-"
  )
  "PADDLE_API_KEY" (dict
    "value"   $vals.paddle.apiKey
    "default" "-"
  )
  "PADDLE_WEBHOOK_SECRET_KEY" (dict
    "value"   $vals.paddle.webhookSecretKey
    "default" "-"
  )
  "KEYGEN_PRODUCT_TOKEN" (dict
    "value"   $vals.keygen.productToken
    "default" "-"
  )
-}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- with $vals.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  {{ range $key, $cfg := $items }}
  
    {{- $existing := "" -}}
    {{- with $secret }}
      {{- $existing = (index .data $key | b64dec) | default "" -}}
    {{- end }}

    {{- $fallback := default $cfg.default $cfg.value -}}
    {{- $final := default $fallback $existing -}}
    {{ $key }}: {{ $final | quote }}
  {{ end }}
{{- end }}