apiVersion: v2
name: akaunting
description: Akaunting Helm chart for Kubernetes
icon: https://f3k-tech.github.io/helm/icons/akaunting.png
type: application
version: 1.3114.0
appVersion: "3.1.14"
dependencies:
  - name: mariadb
    version: 24.0.2
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
annotations:
  artifacthub.io/changes: |
    - kind: fixed
      description: Secret is no longer unintentionally recreated on update.
    - kind: changed
      description: Updated mariadb dependency to v24.0.2.
maintainers:
  - name: FreekO
    email: info@f3k.tech