apiVersion: v2
name: akaunting
description: Akaunting Helm chart for Kubernetes
icon: https://f3k-tech.github.io/helm/icons/akaunting.png
type: application
version: 1.3121.0
appVersion: "3.1.21"
dependencies:
  - name: mariadb
    version: 24.0.2
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Bump Akaunting to version 3.1.21.
maintainers:
  - name: FreekO
    email: info@f3k.tech