{{- if not .Values.secrets.frontend.existingSecret }}
{{- $secretName := include "atlas-cmms.fullname-frontend" . -}}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
type: Opaque
data:
  GOOGLE_KEY: {{ if and $secret (hasKey $secret "data") (hasKey $secret.data "GOOGLE_KEY") }}{{ index $secret.data "GOOGLE_KEY" | quote }}{{ else }}{{ .Values.secrets.frontend.google.apiKey  | b64enc | quote }}{{ end }}
  MUI_X_LICENSE: {{ if and $secret (hasKey $secret "data") (hasKey $secret.data "MUI_X_LICENSE") }}{{ index $secret.data "MUI_X_LICENSE" | quote }}{{ else }}{{ .Values.secrets.frontend.mui.licenseKey  | b64enc | quote }}{{ end }}
  OAUTH2_CLIENT_ID: {{ if and $secret (hasKey $secret "data") (hasKey $secret.data "OAUTH2_CLIENT_ID") }}{{ index $secret.data "OAUTH2_CLIENT_ID" | quote }}{{ else }}{{ .Values.secrets.frontend.oauth2.clientId  | b64enc | quote }}{{ end }}
  OAUTH2_CLIENT_SECRET: {{ if and $secret (hasKey $secret "data") (hasKey $secret.data "OAUTH2_CLIENT_SECRET") }}{{ index $secret.data "OAUTH2_CLIENT_SECRET" | quote }}{{ else }}{{ .Values.secrets.frontend.oauth2.clientSecret  | b64enc | quote }}{{ end }}
  PADDLE_SECRET_TOKEN: {{ if and $secret (hasKey $secret "data") (hasKey $secret.data "PADDLE_SECRET_TOKEN") }}{{ index $secret.data "PADDLE_SECRET_TOKEN" | quote }}{{ else }}{{ .Values.secrets.frontend.paddle.secretToken  | b64enc | quote }}{{ end }}
{{- end }}