{{- $vals := .Values.secrets.frontend -}}
{{- if not $vals.existingSecret }}
{{- $secretName := include "atlas-cmms.fullname-frontend" . -}}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName -}}

{{- $items := dict
  "GOOGLE_KEY"             (dict "value" $vals.google.apiKey "default" "-")
  "MUI_X_LICENSE"          (dict "value" $vals.mui.licenseKey "default" "-")
  "OAUTH2_CLIENT_ID"       (dict "value" $vals.oauth2.clientId "default" "-")
  "OAUTH2_CLIENT_SECRET"  (dict "value" $vals.oauth2.clientSecret "default" "-")
  "PADDLE_SECRET_TOKEN"    (dict "value" $vals.paddle.secretToken "default" "-")
-}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
    {{- with $vals.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
stringData:
  {{ range $key, $cfg := $items }}
  
    {{- $existing := "" -}}
    {{- with $secret }}
      {{- $existing = (index .data $key | b64dec) | default "" -}}
    {{- end }}
    
    {{- $fallback := default $cfg.default $cfg.value -}}
    {{- $final := default $fallback $existing -}}
    {{ $key }}: {{ $final | quote }}
  {{ end }}
{{- end }}