apiVersion: v1
kind: Service
metadata:
  name: {{ include "atlas-cmms.fullname-frontend" . }}
  labels:
    {{- include "atlas-cmms.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/component: frontend
    {{- include "atlas-cmms.selectorLabels" . | nindent 4 }}
