{{- $name := printf "%s-secret" (include "akaunting.fullname" .) -}}
{{- $appSecret := lookup "v1" "Secret" .Release.Namespace $name -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
  labels:
    {{- include "akaunting.labels" . | nindent 4 }}
type: Opaque
data:
  ADMIN_PASSWORD: {{ if $appSecret }}{{ index $appSecret.data "ADMIN_PASSWORD" | default (.Values.secrets.admin.password | default (randAlphaNum 32) | b64enc) }}{{ else }}{{ .Values.secrets.admin.password | default (randAlphaNum 32) | b64enc }}{{ end }}