replicaCount: 1

image:
  registry: docker.io
  repository: tiago2/cap
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# For environment options see: https://capjs.js.org/guide/standalone/options.html
env: []
  # - name: CORS_ORIGIN
  #   value: "domain1.tld,domain2.tld" # default: "*"
  # - name: ENABLE_ASSETS_SERVER
  #   value: true # default: false
  # - name: WIDGET_VERSION
  #   value: "latest"
  # - name: WASM_VERSION
  #   value: "latest"
  # - name: CACHE_HOST
  #   value: "https://cdn.jsdelivr.net"
  # - name: RATELIMIT_IP_HEADER
  #   value: "x-forwarded-for" # or "cf-connecting-ip" when behind Cloudflare
  # - name: "HIDE_RATELIMIT_IP_WARNING"
  #   value: false
  # - name: DB_URL
  #   value: "sqlite://./.data/db.sqlite"

secrets:
  app:
    ADMIN_KEY: "your_secret_password"

persistence:
  data:
    enabled: false
    # storageClass: ""
    # existingClaim: cap-captcha-server-data
    accessMode: ReadWriteOnce
    size: 1Gi
    annotations: {}
    initSqliteDB:
      enabled: true
      image: busybox:1.36

serviceAccount:
  create: true
  automount: true
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template.
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000


service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
    # namespace: default
  hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

livenessProbe:
  enabled: false
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
readinessProbe:
  enabled: false
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
